.popup__input-error {
  display: block;
  min-height: 30px;
  margin: 0;
  padding: 0;
  color: #FF0000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 358px;
  opacity: 0;
}

@media screen and (max-width: 540px) {
  .popup__input-error {
    margin: 0 22px;
  }
}
