.popup__title_registration {
  text-align: center;
  font-family: 'Inter', 'arial', 'sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 36px 60px;
  padding: 0;
}

@media screen and (max-width: 540px) {
  .popup__title_registration {
    margin: 0 18px 50px;
    font-size: 20px;
    line-height: 24px;
  }
}
